<footer>
     
    <div class="ft-sector1">
    <div class="contenedor_logo-footer">  
    <img class="logo_footer" src="/images/logo_tnt.png" alt="">
    </div> 
       <h4 class="subtitulo-footer">Easy tickets es mejor y mas barato</h4>
       <h4 class="subtitulo-footer">Contactanos</h4>
       <p class="footer">Seguinos en nuestrar redes sociales</p>
    
   <div class="ft-sector">
       <div class="iconos-footer">  
       <a href="https://twitter.com/?lang=es"><img src="/images/gorjeo.png" alt=""></a>
       </div>
       <div class="iconos-footer">  
           <a href="https://www.instagram.com/?hl=es"><img src="/images/instagram.png" alt=""></a>
           </div>  
           <div class="iconos-footer">  
              <a href="https://es-la.facebook.com/"><img src="/images/facebook.png" alt=""></a> 
               </div>  
               <div class="iconos-footer">  
                  <a href="https://ar.linkedin.com/"><img src="/images/linkedin.png" alt=""> </a> 
                   </div>         
       
   </div>
</div> 
               

<div class="ft-sectorbottom">
   <h4>Copyright c 1999-2020 EASY TICKETS S.R.L.</h4>
</div>
</footer>