 <!--FOOTEEERR -->  
 <footer>
     
  <div class="ft-sector1">
  <div class="contenedor_logo-footer">  
  <img class="logo_footer" src="/images/LOGO_FINAL.png" alt="">
  </div> 
     <h4 class="subtitulo-footer">Easy tickets es mejor y mas barato</h4>
     <h4 class="subtitulo-footer">Contactanos</h4>
     <p class="footer">Seguinos en nuestrar redes sociales</p>
 </div>  
 <div class="ft-sector">
     <div class="iconos-footer">  
     <img src="/images/gorjeo.png" alt="">
     </div>
     <div class="iconos-footer">  
         <img src="/images/instagram.png" alt="">
         </div>  
         <div class="iconos-footer">  
             <img src="/images/facebook.png" alt="">
             </div>  
             <div class="iconos-footer">  
                 <img src="/images/linkedin.png" alt="">
                 </div>         
     
 </div>
 
             

<div class="ft-sectorbottom">
 <h4>Copyright c 1999-2020 EASY TICKETS S.R.L.</h4>
</div>
</footer>