 <!--FOOTEEERR -->  
 <footer>
     
  <div class="ft-sector1">
  <div class="contenedor_logo-footer">  
  <img class="logo_footer" src="/images/LOGO_FINAL.png" alt="Logo EasyTicket">
  </div> 
     <h4 class="subtitulo-footer">Easy tickets es mejor y mas barato</h4>
     <h4 class="subtitulo-footer">Contactanos</h4>
     
     <div class="ft-sector">
        <h4 class="subtitulo-footer"> Seguinos en nuestrar redes sociales</h4>
        <div class="iconos-footer">  
            <img src="/images/gorjeo.png" alt="Social 1">
        </div>
        <div class="iconos-footer">  
            <img src="/images/instagram.png" alt="Social 2">
        </div>  
        <div class="iconos-footer">  
             <img src="/images/facebook.png" alt="Social 3">
        </div>  
        <div class="iconos-footer">  
             <img src="/images/linkedin.png" alt="">
        </div>         
</div>
 </div>  
 
 
<div class="ft-sectorbottom">
 <h4>Copyright c 1999-2020 EASY TICKETS S.R.L.</h4>
</div>
</footer>