<footer>
   
   <div class="container">

      <div class="row">
         <div class="col">
            <img src="/images/logo_tnt.png" alt="">
            <span>Easy tickets es mejor y mas barato</span>
         </div>
         <div class="col">
            <h4 class="subtitulo-footer">Contactanos</h4>
            <span>5411 9456-5554</span>
            <span>5411 9456-5554</span>
         </div>
         <div class="col social">
            <h4 class="subtitulo-footer">Seguinos en nuestrar redes sociales</h4>
            <ul>
               <li><a class="icon icon-tw" href="https://twitter.com/?lang=es"></a></li>
               <li><a class="icon icon-it" href="https://www.instagram.com/?hl=es"></a></li>
               <li><a class="icon icon-fb" href="https://es-la.facebook.com/"></a></li>
               <li><a class="icon icon-in" href="https://ar.linkedin.com/"></a></li>
            </ul>
         </div>
      </div>

      <div class="row copyright">
         <div class="col ">
            <h4>©2022 - EASY TICKETS S.R.L.</h4>
         </div>
      </div>

   </div>

</footer>