<div class="contenedor_header">
  <header>
      <!-- Logo -->
      <div class="logo">
              <img src="images/logo_tnt.png" alt="">
      </div>
      <!-- Icono para menu en celular -->
      <div class="burger-menu">
              <i class="fa fa-bars burger"></i>
      </div>
      <!-- menu para tablet y pc -->  
      <div class="menu_header">
        <div class="elemento_menu"><a href="/">HOME</a></div>
        <div class="elemento_menu"><a href="/productDetail">PRODUCTOS</a></div>
        <div class="elemento_menu"><a href="/register">REGISTRATE</a></div>
        <div class="elemento_menu"><a href="/carro">CARRITO</a></div>
        <div class="elemento_menu"><a href="/productDetail/create">CREAR EVENTO</a></div>
      </div>

      <!-- boton para crear evento -->    
      <div class="crea_un_evento">
              
         <p><a href="/login"><i class="far fa-id-card"></i> INICIA SESION</a></p>
                   
      </div>
      
      
      
  </header>
</div>
