<link href="/css/HEADERYFOOTER.css" rel="stylesheet" />

<header>
  
  <div class="container">
    
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/events">EVENTOS</a></li>
        <% if(locals.isLogged) {%>
        <li><a href="/carro">CARRITO</a></li>
        <li><a href="/events/create">CREAR EVENTO</a></li>
        <% } %>
      </ul>
    </nav>
        
    <div class="logo">
      <a href="/"><img src="/images/logo_tnt.png" alt="" ></a>
    </div>
    
    <% if(locals.isLogged) {%>

      <div class="right-box">
        <div class="profile-pic" style="background-image: url(/images/users/<%=locals.userLogged.image%>);">
        </div>
        <div class="user-box">
          <span>Hola, <%=locals.userLogged.first_name%></span>
          <a href="/login/logout"> LOGOUT </a>
        </div>
      </div>

    <% } else { %>
      
      <div class="right-box">
        <a class="btn register" href="/register">REGISTRATE</a>
        <a class="btn login" href="/login">INICIA SESION</a>
      </div>

    <% } %>
  </div>
</header>