<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head')%>
<body>
   
    <%-include('./partials/header')%>
   
</div>
        <!-- Banner Antes del MAIN --> 
    <section class="contenedor_banner">
    
        <div class="banner"> 

            <article class="banner_section">
              <div class="contenedor_banner">

                <img class="img_evento_principal" src="/images/LollaArgentina2022_A.jpeg" width="150" alt="Cafetera Moulinex" class="product_img"> 
                <p class="description_banner">Lollapalooza​ es un festival musical de los Estados Unidos que originalmente ofrecía bandas de rock alternativo, indie y punk rock; también hay actuaciones cómicas y de danza. Concebido en 1991 por Perry Farrell, cantante de Jane's Addiction, Lollapalooza se realizó anualmente hasta 1997</p>
                <p class="titulo_banner">Lolla Pallooza</p>
                <a class="info_banner" href="/register"> Mas información </a>
                    
               </div>
            </article>
        </div>   
    </section>
<main>
    <div class="compra-contenedor">
        <div class="contenedor">
            <div class="lista-detalle">
                <div class="botones">
                    <button type="button"><strong>GENERAL</strong></button>
                </div>
                <div class="botones">
                    <button type="button"><strong>PRE-VENTA<span>$2.000</span></strong></button>
                </div>
                <div class="botones">
                    <button type="button"><strong class="cantidad">CANTIDAD</strong></button>
                </div>
                <div class="comprar">
                    <button type="button"><strong >COMPRAR</strong></button>
                </div>
            </div>
        </div>
        
            <div class="contenedor-resumen">
                <div>
                    <h2>Resumen de compra</h2>
                </div>
                <div class="entradas-servicio">
                    <div class="entradas">
                    <h3>Entradas</h3>
                    </div>
                    <div class="entradas-detalle">
                        
                            <div class="item1">PREVENTA</div>
                            <div class="item2">$2.000</div>
                            
                    </div>
                    <div class="entradas-detalle">
                        
                        <div class="item1">PREVENTA</div>
                        <div class="item2">$2.000</div>
                        
                </div>
                </div>
                <div class="servicio-detalle">
                    <h3>Servicios</h3>
                    <div class="servicio-items">
                        <div class="servicio-item1">Cargos por servicio</div>
                        <div class="servicio-item2">$200</div>
                    </div>
                </div>
                <div class="total">
                        <div class="total-item1">Total</div>
                        <div class="total-item2">$2.200</div>
                </div>
            </div>
    </div>
    
    

</main>

<%-include('./partials/footer')%>
</body>
</html>