<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles-avru.css">
</head>
<body>
    <header>
        <!-- Logo -->
        <div class="logo">
                <img src="images/LOGO_FINAL.png" alt="">
        </div>
        <!-- Icono para menu en celular -->
        <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
        </div>
        <!-- menu para tablet y pc -->  
        <div class="menu_header">
               
        <div class="elemento_menu"><a href="/">HOME</a></div>
        <div class="elemento_menu"><a href="carro">PRODUCTOS</a></div>
        <div class="elemento_menu" ><a href="#">REGISTRATE</a></div>
        <div class="elemento_menu"><a href="/carro">CARRITO</a></div>
        <div class="elemento_menu"><a href="#">CREAR EVENTO</a></div>
            
        </div>

        <!-- boton para crear evento -->    
        <div class="crea_un_evento">
                
           <p><a href="#"><i class="far fa-id-card"></i> INICIA SESION</a></p>
                     
        </div>
        
    </header>



    <div class="producto-contenedor">
      
            <div class="foto-producto">
                <img src="images/evento.jpeg" alt="foto" width="100%">
            </div>
        
    </div>
    <div class="compra-contenedor">
        <div class="contenedor">
            <div class="lista-detalle">
                <div class="botones">
                    <button type="button"><strong>GENERAL</strong></button>
                </div>
                <div class="botones">
                    <button type="button"><strong>PRE-VENTA<span>$2.000</span></strong></button>
                </div>
                <div class="botones">
                    <button type="button"><strong class="cantidad">CANTIDAD</strong></button>
                </div>
                <div class="comprar">
                    <button type="button"><strong >COMPRAR</strong></button>
                </div>
            </div>
        </div>
        
            <div class="contenedor-resumen">
                <div>
                    <h2>Resumen de compra</h2>
                </div>
                <div class="entradas-servicio">
                    <div class="entradas">
                    <h3>Entradas</h3>
                    </div>
                    <div class="entradas-detalle">
                        
                            <div class="item1">PREVENTA</div>
                            <div class="item2">$2.000</div>
                            
                    </div>
                    <div class="entradas-detalle">
                        
                        <div class="item1">PREVENTA</div>
                        <div class="item2">$2.000</div>
                        
                </div>
                </div>
                <div class="servicio-detalle">
                    <h3>Servicios</h3>
                    <div class="servicio-items">
                        <div class="servicio-item1">Cargos por servicio</div>
                        <div class="servicio-item2">$200</div>
                    </div>
                </div>
                <div class="total">
                        <div class="total-item1">Total</div>
                        <div class="total-item2">$2.200</div>
                </div>
            </div>
    </div>


    <footer>
     
        <div class="ft-sector1">
        <div class="contenedor_logo-footer">  
        <img class="logo_footer" src="/images/LOGO_FINAL.png" alt="">
        </div> 
           <h4 class="subtitulo-footer">Easy tickets es mejor y mas barato</h4>
           <h4 class="subtitulo-footer">Contactanos</h4>
           <p class="footer">Seguinos en nuestrar redes sociales</p>
       </div>  
       <div class="ft-sector">
           <div class="iconos-footer">  
           <img src="/images/gorjeo.png" alt="">
           </div>
           <div class="iconos-footer">  
               <img src="/images/instagram.png" alt="">
               </div>  
               <div class="iconos-footer">  
                   <img src="/images/facebook.png" alt="">
                   </div>  
                   <div class="iconos-footer">  
                       <img src="/images/linkedin.png" alt="">
                       </div>         
           
       </div>
       
                   
   
   <div class="ft-sectorbottom">
       <h4>Copyright c 1999-2020 EASY TICKETS S.R.L.</h4>
   </div>
</footer>

</body>
</html>