<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Imagen del evento' }) %>

    <body>

            <main>


                    <figure width="100">
                        <img src="/images/<%= event.image %>" alt="">
                    </figure>

                      
            </main>

    </body>

</html>