<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASY TICKETS</title>
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Hoja de estilos -->
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="contenedor_header">
    <header>
        <!-- Logo -->
        <div class="logo">
                <img src="images/logo_tnt.png" alt="">
        </div>
        <!-- Icono para menu en celular -->
        <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
        </div>
        <!-- menu para tablet y pc -->  
        <div class="menu_header">
               
        <div class="elemento_menu"><a href="/">HOME</a></div>
        <div class="elemento_menu"><a href="carro">PRODUCTOS</a></div>
        <div class="elemento_menu" ><a href="#">REGISTRATE</a></div>
        <div class="elemento_menu"><a href="/carro">CARRITO</a></div>
        <div class="elemento_menu"><a href="#">CREAR EVENTO</a></div>
            
        </div>

        <!-- boton para crear evento -->    
        <div class="crea_un_evento">
                
           <p><a href="#"><i class="far fa-id-card"></i> INICIA SESION</a></p>
                     
        </div>
        
        

    
        
    </header>
</div>
        <!-- Banner Antes del MAIN --> 
    <section class="contenedor_banner">
    
        <div class="banner"> 

            <article class="banner_section">
              <div class="contenedor_banner">

                <img class="img_evento_principal" src="/images/LollaArgentina2022_A.jpeg" width="150" alt="Cafetera Moulinex" class="product_img"> 
                <p class="description_banner">Lollapalooza​ es un festival musical de los Estados Unidos que originalmente ofrecía bandas de rock alternativo, indie y punk rock; también hay actuaciones cómicas y de danza. Concebido en 1991 por Perry Farrell, cantante de Jane's Addiction, Lollapalooza se realizó anualmente hasta 1997</p>
                <p class="titulo_banner">Lolla Pallooza</p>
                <a class="info_banner" href="/register"> Mas información </a>
                    
               </div>
            </article>
        </div>   
    </section>


<main>
    <!-- Seccion de los eventos -->

    <!-- Eventos Provincia 1-->
    <section class="eventos">
   
        <!-- titulo de provincia 1 --> 
       
            <h3>Eventos en Buenos Aires</h3>
       
        <!-- Eventos Provincia 1--> 
       
            <div class="products"> 
                <article>
                    <div class="main-article">
                      <img class="img_evento" src="/images/the_beatles.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                      <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                      <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                      <a class="info" href="/register"> Mas informacion </a>
                   </div>
                </article>
    
    
                <article>
                    <div class="main-article">
                       <img class="img_evento" src="/images/cds2.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                       <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                       <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                       <a class="info" href="/register"> Mas informacion </a>
                    </div>
                </article>
    
               <article>  
                   <div class="main-article">
                      <img class="img_evento" src="/images/queen.webp" width="360" alt="Cafetera Moulinex" class="product_img"> 
                      <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                      <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                      <a class="info" href="/register"> Mas informacion </a>
                    </div>
               </article>
    
               <article>
                    <div class="main-article">
                      <img class="img_evento" src="/images/am.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                      <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                      <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                      <a class="info" href="/register"> Mas informacion </a>
                    </div>
               </article>
                    </div>
        </section>

    <!-- Eventos Provincia 2-->

    <section class="eventos">
   
    <!-- titulo de provincia 2 --> 
   
        <h3>Eventos en Buenos Aires</h3>
   
    <!-- Eventos Provincia 2--> 
   
        <div class="products"> 
            <article>
                <div class="main-article">
                  <img class="img_evento" src="/images/the_beatles.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                  <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                  <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                  <a class="info" href="/register"> Mas informacion </a>
               </div>
            </article>


            <article>
                <div class="main-article">
                   <img class="img_evento" src="/images/cds2.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                   <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                   <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                   <a class="info" href="/register"> Mas informacion </a>
                </div>
            </article>

           <article>  
               <div class="main-article">
                  <img class="img_evento" src="/images/queen.webp" width="360" alt="Cafetera Moulinex" class="product_img"> 
                  <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                  <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                  <a class="info" href="/register"> Mas informacion </a>
                </div>
           </article>

           <article>
                <div class="main-article">
                  <img class="img_evento" src="/images/am.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                  <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                  <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                  <a class="info" href="/register"> Mas informacion </a>
                </div>
           </article>
                </div>
    </section>
    <!-- Eventos Provincia 3-->

    <section class="eventos">
   
        <!-- titulo de provincia 3 --> 
       
            <h3>Eventos en Buenos Aires</h3>
       
        <!-- Eventos Provincia 3--> 
       
            <div class="products"> 
                <article>
                    <div class="main-article">
                      <img class="img_evento" src="/images/the_beatles.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                      <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                      <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                      <a class="info" href="/register"> Mas informacion </a>
                   </div>
                </article>
    
    
                <article>
                    <div class="main-article">
                       <img class="img_evento" src="/images/cds2.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                       <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                       <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                       <a class="info" href="/register"> Mas informacion </a>
                    </div>
                </article>
    
               <article>  
                   <div class="main-article">
                      <img class="img_evento" src="/images/queen.webp" width="360" alt="Cafetera Moulinex" class="product_img"> 
                      <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                      <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                      <a class="info" href="/register"> Mas informacion </a>
                    </div>
               </article>
    
               <article>
                    <div class="main-article">
                      <img class="img_evento" src="/images/am.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                      <p class="titulo_producto">CIRQUE DU SOLEIL</p>
                      <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                      <a class="info" href="/register"> Mas informacion </a>
                    </div>
               </article>
                    </div>
        </section>
    

    <!-- Otros Eventos--> 

    <section class="otros_eventos">
    
    <!-- titulo de Otros Eventos --> 

        <h3>Otros eventos</h3>

    <!-- Otros Eventos--> 

        <div class="products"> 
            <article class="otros_eventos_seccion">
                <div class="main-article">
                <img class="img_otros_eventos" src="/images/cds2.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                <p class="titulo_producto_otros_eventos">CIRQUE DU SOLEIL</p>
                <p class="description_otros_eventos">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                <a class="info_otros_eventos" href="/register"> Mas informacion </a>
                
                </div>
            </article>

            <article class="otros_eventos_seccion">
              <div class="main-article">
                <img class="img_otros_eventos" src="/images/queen.webp" width="360" alt="Cafetera Moulinex" class="product_img"> 
                <p class="titulo_producto_otros_eventos">CIRQUE DU SOLEIL</p>
                <p class="description_otros_eventos">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                <a class="info_otros_eventos" href="/register"> Mas informacion </a>
              </div>
            </article>

            <article class="otros_eventos_seccion">
              <div class="main-article">
                <img class="img_otros_eventos" src="/images/cds.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                <p class="titulo_producto_otros_eventos">CIRQUE DU SOLEIL</p>
                <p class="description_otros_eventos">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                <a class="info_otros_eventos" href="/register"> Mas informacion </a>
              </div>
            </article>
             
            <article class="otros_eventos_seccion">
              <div class="main-article">
                <img class="img_otros_eventos" src="/images/cds.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                <p class="titulo_producto_otros_eventos">CIRQUE DU SOLEIL</p>
                <p class="description_otros_eventos">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                <a class="info_otros_eventos" href="/register"> Mas informacion </a>
              </div>
            </article>
        </div>
    </section>
      
</main>


<footer>
     
         <div class="ft-sector1">
         <div class="contenedor_logo-footer">  
         <img class="logo_footer" src="/images/logo_tnt.png" alt="">
         </div> 
            <h4 class="subtitulo-footer">Easy tickets es mejor y mas barato</h4>
            <h4 class="subtitulo-footer">Contactanos</h4>
            <p class="footer">Seguinos en nuestrar redes sociales</p>
         
        <div class="ft-sector">
            <div class="iconos-footer">  
            <a href="https://twitter.com/?lang=es"><img src="/images/gorjeo.png" alt=""></a>
            </div>
            <div class="iconos-footer">  
                <a href="https://www.instagram.com/?hl=es"><img src="/images/instagram.png" alt=""></a>
                </div>  
                <div class="iconos-footer">  
                   <a href="https://es-la.facebook.com/"><img src="/images/facebook.png" alt=""></a> 
                    </div>  
                    <div class="iconos-footer">  
                       <a href="https://ar.linkedin.com/"><img src="/images/linkedin.png" alt=""> </a> 
                        </div>         
            
        </div>
    </div> 
                    
    
    <div class="ft-sectorbottom">
        <h4>Copyright c 1999-2020 EASY TICKETS S.R.L.</h4>
    </div>
</footer>

</body>
</html>