<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Carrito de compras AVRU</title>
</head>
<body>
    <main>
        <section >
            <div class="foto-evento">
                <img src="img/evento.jpeg" alt="evento">
            </div>
        </section>
        <section class="descripcion-evento">
            <h1>Lollapalooza - 2022</h1>
            <h3>18, 19 y 20 de Junio - Hipodromo de San Isidro</h3>
        </section>       
        <section>
            <div class="informacion-compra">
                <div class="opcion-evento">Preventa - Lollapalooza-2022</div>
                <div class="precio">$2.000</div>
                <div class="cantidad-entradas">
                    <div class="entradas">1</div>
                </div>
                    <div class="boton">
                        <button type="button" class="cantidad" value="-">-</button>
                        <button type="button" class="cantidad" value="+">+</button>
                    </div>
                
            </div>
        </section>
    </main>
    <nav class="pagos">
        <ul class="pago1">
            <li class="lista-izq">Subtotal</li>
            <li class="lista-izq">Descuento</li>
            <li class="lista-izq">Costo de envio</li>
            <li class="lista-izq">Total</li>
        </ul>
        <ul class="pago2">
            <li class="lista-der">$2.000</li>
            <li class="lista-der">$0</li>
            <li class="lista-der">$800</li>
            <li class="lista-der">$2.800</li>
        </ul>
       
    </nav>
    <div class="boton-pago">
        <button type="button" class="boton-compra">Comprar tickets</button>
    </div>


</body>
</html>