<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASY TICKETS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        
            <div class="logo">
                <img src="images/logo_amarillo.png" alt="">
            </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
           </div>
            <div class="menu_header">
               
                   <div class="elemento_menu"><a href="/">HOME</a></div>
                   <div class="elemento_menu"><a href="#">STREAMING</a></div>
                   <div class="elemento_menu"><a href="/productDetail">PRODUCTOS</a></div>
                   <div class="elemento_menu" ><a href="#">SESION</a></div>
                   <div class="elemento_menu"><a href="#">REGISTRATE</a></div>   
            </div>
            <div class="crea_un_evento">                   
                    <p><a href="#">CREAR EVENTO</a></p>              
            </div>      
    </header>
    <section class="banner">
        <div class="banner"> 
                <article class="banner_section">
                    <div class="contenedor_banner">
                        <img class="img_evento_principal" src="/images/LollaArgentina2022_A.jpeg" width="150" alt="Cafetera Moulinex" class="product_img"> 
                        <p class="description_banner">Lollapalooza​ es un festival musical de los Estados Unidos que originalmente ofrecía bandas de rock alternativo, indie y punk rock; también hay actuaciones cómicas y de danza. Concebido en 1991 por Perry Farrell, cantante de Jane's Addiction, Lollapalooza se realizó anualmente hasta 1997</p>
                        <p class="titulo_banner">Lolla Pallooza</p>
                        <a class="info_banner" href="/register"> Mas informacion <i class="far fa-id-card"></i></a>           
                    </div>
               </article>
        </div>   
    </section>
<main>   
    <section class="last-visit">
        <h3>Eventos en Buenos Aires</h3>
        <div class="products"> 
            <article>
                <div class="main-article">
                    <img class="img_evento" src="/images/cds.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                    <p class="titulo_producto">Cirque Di Soleil</p>
                    <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                    <a class="info" href="/register"> Mas informacion <i class="far fa-id-card"></i></a>    
                </div>
            </article>
            <article>
                <div class="main-article">
                    <img class="img_evento" src="/images/pf.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                    <p class="titulo_producto">Cirque Di Soleil</p>
                    <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                    <a class="info" href="/register"> Mas informacion <i class="far fa-id-card"></i></a>
                </div>
             </article>
        
            <article>
                <div class="main-article">
                    <img class="img_evento" src="/images/pf.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                    <p class="titulo_producto">Pink Floyd</p>
                    <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                    <a class="info" href="/register"> Mas informacion <i class="far fa-id-card"></i></a>
                </div>
             </article>
            <article>
                <div class="main-article">
                    <img class="img_evento" src="/images/cds.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
                    <p class="titulo_producto">Cirque Di Soleil</p>
                    <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
                    <a class="info" href="/register"> Mas informacion <i class="far fa-id-card"></i></a> 
                </div>
            </article>
        </div>
    </section>

    <section class="Offers">
    <h3>Eventos en Cordoba</h3>
    <div class="products"> 
        <article>
            <div class="main-article">
            <img class="img_evento" src="/images/cds.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
            <p class="titulo_producto">Cirque Di Soleil</p>
            <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
            <a class="info" href="/register"> Mas informacion <i class="far fa-id-card"></i></a>
            
        </div>
    </article>
    <article>
        <div class="main-article">
        <img class="img_evento" src="/images/cds.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
        <p class="titulo_producto">Cirque Di Soleil</p>
        <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
        <a class="info" href="/register"> Mas informacion <i class="far fa-id-card"></i></a>
        
    </div>
</article>
<article>
    <div class="main-article">
    <img class="img_evento" src="/images/cds.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
    <p class="titulo_producto">Cirque Di Soleil</p>
    <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
    <a class="info" href="/register"> Mas informacion <i class="far fa-id-card"></i></a>
    
</div>
</article>
<article>
    <div class="main-article">
    <img class="img_evento" src="/images/cds.jpg" width="360" alt="Cafetera Moulinex" class="product_img"> 
    <p class="titulo_producto">Cirque Di Soleil</p>
    <p class="description">Es una empresa de entretenimiento candadiense y la mayor productora de circo del mundo</p>
    <a class="info" href="/register"> Mas informacion <i class="far fa-id-card"></i></a>
    
</div>
</article>
</div>
</section>

</main>


<footer>
    <ul> 
         <div class="ft-sector">
         <div class="contenedor_logo-footer">  
         <img class="logo_footer" src="/images/LOGO AMARILLO.png" alt="">
         </div> 
            <h4 class="subtitulo-footer">EASY TICKETS</h4>
            <p class="footer">Easy tickets es mejor y mas barato </p>
        </div>  
        <div class="ft-sector">
            <div class="iconos-footer">  
            <img src="/images/gorjeo.png" alt="">
            </div>
            <div class="iconos-footer">  
                <img src="/images/instagram.png" alt="">
                </div>  
                <div class="iconos-footer">  
                    <img src="/images/facebook.png" alt="">
                    </div>  
                    <div class="iconos-footer">  
                        <img src="/images/linkedin.png" alt="">
                        </div>         
            <h4 class="subtitulo-footer">Contactanos</h4>
            <p class="footer">Seguinos en nuestras redes sociales</p>
        </div>
        
    </ul>
    <div class="ft-sectorbottom">
        <h4>Copyright c 1999-2020 EASY TICKETS S.R.L.</h4>
    </div>
</footer>
</body>
</html>