<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="" width="360" alt="Logo de EasyTicket">
            </div>
           
            
        </div>
        <nav>
            <ul>
                <li><a href="#">Presencial</a></li>
                <li><a href="#"></a>Streaming</a></li>
                <li><a href="#"></a>Productos</a></li>
                <li><a href="#"></a>Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Inicia sesion <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
        <butom>Crear evento</butom>

    </header>
 
    

    <footer>
        <div class="logo">
            <img src="" width="360" alt="Logo de EasyTicket">
        </div>
        <article>
            <div>
                <h4>Mapa del sitio </h4>
               
            </div>
            <div>
   
                <h4>Terminos y condiciones </h4>
        
            </div>
            <div>
                <h4>Redes sociales y contacto</h4>
            </div>
        </article>     
        <div>
            <p>Copyright 1999-2020 EasyTicket </p>
        </div>
    </footer>
</body>
</html>