<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="" width="360" alt="Logo de EasyTicket">
            </div>
           
            
        </div>
        <nav>
            <ul>
                <li><a href="#">Presencial</a></li>
                <li><a href="#"></a>Streaming</a></li>
                <li><a href="#"></a>Productos</a></li>
                <li><a href="#"></a>Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Inicia sesion <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
        <butom>Crear evento</butom>

    </header>
    <main>
        <section class="event-header">
            <div class="event-title">
                <h1>Nombre del Evento</h1>
                <h3>Direccion del Evento</h3>
                <h3>Fecha del Evento</h3>
                <h5>Condiciones generales del evento</h5>
            </div>
            <div class="event-carrousel">
                <img src="images/bootcamp-parejas-indetenibles-15-dias-para-renovar-y-transformar-tu-relacion-de-pareja-argentina-img.jpg" alt="imagen-evento-1">
            </div>
        </section>
        <section class="purchase-detail">
            <h3>Titulo de la tabla de compra</h3>
            <div>
                <div class="table-button">
                        <table class="purchase-table">
                            <tr>
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td>Preferencial</td>
                                <td>1000 $</td>
                                <td><input type="number"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Platea</td>
                                <td>800 $</td>
                                <td><input type="number"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>General</td>
                                <td>500 $</td>
                                <td><input type="number"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>            
                        </table>
                        <div class="button">
                            <button type="submit" class="confirmation-button">Comprar</button>
                        </div>
                    </div>
                    <div class="aditional-info">
                        <div class="event-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20510.491556762587!2d-71.37316774013514!3d-40.166702130905925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1649558815300!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="event-calendar">
                            <iframe src="https://calendar.google.com/calendar/embed?src=o7r935tll0detm57dn4on9io7k%40group.calendar.google.com&ctz=America%2FArgentina%2FBuenos_Aires" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>                        
            </div>
        </section>
        <section class="event-footer">
            <h3>Tambien podria interesarte</h3>
            <div class="option-container">
                    <img src="images/lola-en-la-tangente-120498-rec.jpg" alt="Opcion 1">
                    <img src="images/meet-greet-juicy-bae-95274-rec.jpg" alt="Opcion 2">
                    <img src="images/carino-en-niceto-club-120980-rec.jpg" alt="Opcion 3">
                    <img src="images/presentacion-del-nuevo-disco-de-martin-garcia-15-seis-120505-rec.jpg" alt="Opcion 4">        
            </div>
           
        </section>
    </main>  
 
    

    <footer>
        <div class="logo">
            <img src="" width="360" alt="Logo de EasyTicket">
        </div>
        <article>
            <div>
                <h4>Mapa del sitio </h4>
               
            </div>
            <div>
   
                <h4>Terminos y condiciones </h4>
        
            </div>
            <div>
                <h4>Redes sociales y contacto</h4>
            </div>
        </article>     
        <div>
            <p>Copyright 1999-2020 EasyTicket </p>
        </div>
    </footer>
</body>
</html>