<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Ingresar' }) %>

  <body>
    
    <%-include('./partials/header')%>
    
    <section class="section-login-register">
      <div class="container">

          <div class="form-container login">
            
            <h2>Ingresar:</h2>

            <%if (locals.errors && errors.email){%>
            <ul class="alert">
              <li><%=errors.email.msg%></li>
            </ul>
            <% } %>

            <form action="/login" method="POST" class="Formulario">

              <div class="row">
                <div class="col">
                  <label class='form-label'">Ingrese su Email:</label>
                  <input class="form-input" type="email" id="email" name="email" placeholder="Email" />
                  
                  <div class="erroresEmailRegister">
                    <p class="errores"></p>
                    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label class='form-label'>Ingrese su Contraseña:</label>
                  <input class="form-input" type="password" id="password" name="password" placeholder="Contraseña" />
                  <div class="erroresContraseñaRegister">
                    <p class="errores"></p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label class="form-label radio-check">
                    <input type="checkbox" class="form-input" name="remember_user"> Recordar mi usuario
                  </label>
                </div>
              </div>

              <div class="btn-container">
                <button type="submit" class="boton_guardar_evento">
                  Ingresar
                </button>
              </div>
              
            </form>
          </div>

        </div>
      </section>
            
      <%-include('./partials/footer')%>
      <script src="../js/login.js"></script>
  </body>

</html>