<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Formulario de creaci칩n' }) %>

  <body>

    <%-include('./partials/header')%>

      <main>
        <div class="create-container">

          <div class="form-title">
            <h2>Iniciar Sesion:</h2>
          </div>

          <div class="form-container">
            <form class="Formulario" action="/login" method="POST">
              <%if (locals.errors && errors.email){%>
                <p class="msgError"><%=errors.email.msg%> </p>
              <%}%>
              <label class='form-label' for="userName">Ingrese su Email:</label>
              <div class="erroresEmailRegister">
                <p class="errores"></p>
               </div>
              <input class="form-input" type="email" id="email" name="email" placeholder="Email" />
             

              <label class='form-label' for="pasword">Ingrese su Contrase침a:</label>
              <div class="erroresContrase침aRegister">
                <p class="errores"></p>
               </div>
              <input class="form-input" type="password" id="password" name="password" placeholder="Contrase침a" />

          
               
              <label class="form-label">
                    <input type="checkbox" class="form-input" name="remember_user">Recordar mi usuario
              </label>
                
              

              <div class='purchase-detail'>
                <button class="boton_guardar_evento" type="submit">
                  Confirmar
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
      <script src="../js/login.js"></script>
      <%-include('./partials/footer')%>
  </body>

</html>