<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Formulario de creación'}) %>
<body>
  <div class="contenedor_header">
    <header>
        <!-- Logo -->
        <div class="logo">
                <img src="/images/logo_tnt.png" alt="">
        </div>
        <!-- Icono para menu en celular -->
        <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
        </div>
        <!-- menu para tablet y pc -->  
        <div class="menu_header">
          <div class="elemento_menu"><a href="/">HOME</a></div>
          <div class="elemento_menu"><a href="/productDetail">PRODUCTOS</a></div>
          <div class="elemento_menu"><a href="/register">REGISTRATE</a></div>
          <div class="elemento_menu"><a href="/carro">CARRITO</a></div>
          <div class="elemento_menu"><a href="/productDetail/create">CREAR EVENTO</a></div>
        </div>
  
        <!-- boton para crear evento -->    
        <div class="crea_un_evento">
                
           <p><a href="/login"><i class="far fa-id-card"></i> INICIA SESION</a></p>
                     
        </div>
   
</div>
<main>
    <div class="create-container">

        <div class="form-title">
            <h2>Registrate:</h2>
        </div>

        <div class="form-container">
            <form action="/register" method="POST">
                
                <label class='form-label' for="nombre" >Ingrese su Nombre:</label>
                <input
                class="form-input"
                  type="text"
                  id="01"
                  name="nombre"
                  placeholder="Nombre"
                />

                <label class='form-label' for="apellido" >Ingrese su Apellido:</label>
                <input
                class="form-input"
                  type="text"
                  id="02"
                  name="apellido"
                  placeholder="Apellido"
                />

                <label class='form-label' for="dni" >Ingrese su DNI:</label>
                <input
                class="form-input"
                  type="number"
                  id="03"
                  name="dni"
                  placeholder="2222222"
                />

                <label class='form-label' for="email" >Ingrese su email:</label>
                <input
                class="form-input"
                  type="email"
                  id="04"
                  name="email"
                  placeholder="aaa@bbbb.com"
                />
          
                <label class='form-label' for="pasword">Ingrese su Contraseña:</label>
                <input
                class="form-input"
                  type="password"
                  id="05"
                  name="pasword"
                  placeholder="Contraseña"
                />
      
                <label class='form-label' for="passwordConfirm" >Repita su Contraseña:</label>
                <input
                class="form-input"
                  type="password"
                  id="06"
                  name="passwordConfirm"
                  placeholder="Repita Contraseña"
                />
             
          <div class='purchase-detail' >
            <button type="submit">
                Confirmar
            </button>
         </div>
                
            </form>
        </div>
    </div>
  </main>
    <%-include('./partials/footer')%>
</body>
</html>