header * {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

header {
  position: sticky;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: #00000080;
}

header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

header .container .logo img {
  max-width: 64px;
}

header .container nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1
}

header .container nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .container nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
  padding: 5px 10px;
  color: yellow;
  margin: 0 5px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

header .container nav ul li a:hover {
  background-color: yellow;
  color: black;
}

header .container nav ul li:first-child a {  
  margin-left: 0;
}

header .container nav ul li:last-child a {  
  margin-right: 0;
}

header .container .right-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

header .container .right-box .btn {
  padding: 0.4rem 0.7rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
}

header .container .right-box .register {
  color: white;
  margin-left: 0.5rem;
  background-color: transparent;
  border: solid 3px transparent;
}

header .container .right-box .register:hover {
  border: solid 3px yellow;
  color: yellow;
}

header .container .right-box .login {
  background-color: yellow;
  color: black;
  margin-left: 0.5rem;
  align-self: center;
  padding: 0.6rem 0.9rem;
}

header .container .right-box .login:hover {
  background-color: white;
}

header .container .right-box .profile-pic {
  display: block;
  width: 48px;
  height: 48px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

header .container .right-box .user-box {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
}

header .container .right-box .user-box span {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

header .container .right-box .user-box a {
  color: tomato;
  font-size: 12px;
  font-weight: bold;
}

/* MENU MOBILE */

header .btn-toogle-mobile {
  position: absolute;
  display: none;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-image: url(/images/icon-menu.png);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 48px auto;
  image-rendering: -webkit-optimize-contrast;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

header .btn-toogle-mobile.logged {
  display: block;
  position: relative;
}

header .btn-toogle-mobile:hover {
  background-position: -25px 8px;
  background-color: yellow;
  background-image: url(/images/icon-menu.png);
  backdrop-filter: invert();
}

.container-menu-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.container-menu-mobile .backdrop {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 350px;
  right: 0;
}

.container-menu-mobile nav {
  position: fixed;
  display: block;
  top: 65px;
  bottom: 0px;
  width: 350px;
  height: 100%;
  padding: 1.5rem 2rem;
  
  backdrop-filter: blur(10px);
  background-color: #00000080;
}

.container-menu-mobile nav .user-data {
  display: none;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #f1f1f180;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
}

.container-menu-mobile nav .user-data .profile-pic {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: solid 2px yellow ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
}

.container-menu-mobile nav .user-data .user-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}



.container-menu-mobile nav .user-data .user-box span {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.container-menu-mobile nav .user-data .user-box a {
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}


.container-menu-mobile nav ul {
  list-style: none; 
}

.container-menu-mobile nav ul li {
  list-style: none; 
}

.container-menu-mobile nav ul li:nth-child(1),
.container-menu-mobile nav ul li:nth-child(2) {
  display: none;
}

.container-menu-mobile nav ul li a {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: yellow;
  text-decoration: none;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.container-menu-mobile nav ul li a:hover {
  color: white;
}

/*FOOTER*/

footer *{
  color: white;
}

footer ul {
  list-style: none;
}

footer h4 {
  margin-bottom: 1rem;
}

footer {
  position: relative;
  width: 100%;
  background-color: #121212;
  padding: 3rem 0;
}

footer img {
  width: 96px;
  margin-bottom: 1rem;
}

footer .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .row.copyright {
  padding-top: 4rem;
}

footer .row .col {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer .social ul {
  display: flex;
  flex-direction: row;
}

footer .social ul li {
  margin: 0 0.5rem;
}

footer .icon {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: beige;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  filter: grayscale(1);
}

footer .icon.icon-tw { background-image: url(/images/logo-tw.png); }
footer .icon.icon-it { background-image: url(/images/logo-inst.png); }
footer .icon.icon-fb { background-image: url(/images/logo-fb.png); }
footer .icon.icon-in { background-image: url(/images/logo-in.png); }

footer .icon:hover {
  filter: grayscale(0);
}

/**/

@media only screen and (max-width: 1024px) {
  .container-menu-mobile nav .user-data {
    display: flex;
  }
  header .btn-toogle-mobile,
  .container-menu-mobile nav ul li:nth-child(1),
  .container-menu-mobile nav ul li:nth-child(2) {
    display: block;
  }

  header .container nav ul,
  header .container .right-box .profile-pic,
  header .container .right-box .user-box,
  header .container .right-box > * {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header .container {
    width: 100%;
  }
}