* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: black;
    margin-top:20px;
  }
  
  
  
  
  
  
  /*HEADER*/
  header{
    height: 10vw;
    
    position: relative;
    display: inline-block;
    text-align: center;
    
  }
  div.burger-menu {
    text-align: center;
    

    
  }
  .crea_un_evento{
    display: none;
  }
  .menu_header{
    display: none;
  }
  
  div.burger-menu i {
    border-radius: 5px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    margin: 0px 0px 20px 18px;
    
    font-size: 20px;
    width: 40;
  }
  
 
  .logo{
    text-align: center;
    
  }
  .logo img{
   
    width: 100vw;
    text-align: center;
    

   
}
nav{
  display: none;
}
header a{
    text-decoration: none;
    color: yellow;
    
}
header li{
    list-style:none;
    align-items: center;
    text-decoration: none;
    color: yellow;
    font-size: medium;
    font-size:4vw;
     
}
header ul{
    
    display: flex;
    justify-content: space-between;

}



header nav a:hover{
    color: #fff;
}
  /*HEADER*/
 
  
  /*BANNER*/
  
  .banner_section:hover .description_banner {
    display: block;
  }
  .banner_section:hover .img_evento_principal {
    filter: blur(5px);
  }
  .banner_section:hover .info_banner {
    display: block;
  }
  .banner_section:hover .titulo_banner {
    display: block;
  }
  .banner{
    text-align: left;
  }
  .img_evento_principal{
    width: 100vw;
    
    text-align: center;
  }
  .banner_section{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }
    
  .description_banner {
    
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 1.5vw;
    margin-top: 1px;
    text-align:start;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: start;
    font-family: 'Roboto', sans-serif;
  }
  .titulo_banner {
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 6vw;
    margin-top: 1px;
    text-align:start;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align:justify ;
    font-family: 'Roboto', sans-serif;
    
  }
  .info_banner{
    
    position: absolute;
    top: 80%;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 5vw;
    margin-top: 1px;
    text-decoration:none;
    color: black;
    text-shadow: 5px 5px 10px black;
    font-family: 'Roboto', sans-serif;
    background-color: yellow;
    padding: 10px;
    font-weight: bold;
  }
  .info_banner:hover {
    background-color: white;
    color: black;
  }
/*FIN BANNER*/
/*FIN BANNER*/
/*titulo Eventos*/
h3{
  color:yellow;
  text-align: center;
  padding: 20px 0;
  font-size: 5vw;
}
/*Fin titulo Eventos*/

  
  
  /*MAIN*/
  main {
    text-align: center;
    background-color: black;
  }
  
  
  .main-article{
    position: relative;
    display: inline-block;
    text-align: center;
  }
 
  
  .description {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 6vw;
    margin-top: 1px;
    text-align:start;
    color: white;
  }
 
  .info{
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 5vw;
    margin-top: 1px;
    text-decoration:none;
    color: aliceblue;

  }
  .titulo_producto{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 2vw;
    margin-top: 1px;
    text-decoration:none;
    color: aliceblue;

  }
  main section article:hover .description {
    display: block;
  }
  main section article:hover .img_evento {
    filter: blur(5px);
  }
  main section article:hover .info {
    display: block;
  }
  main section article:hover .titulo_producto {
    display: block;
  }
  
    
  
  
  main {
   
    width: 90%;
    margin: 0 auto;
  }
  
  main section article {
   
    background-color: black;
    margin: 10px 0px;
    width: 90vw;
  }
  
  main section article img {
   
    width: 100%;
    
    
  }
 

  
  /*FOOTER*/
  footer {
    background-color: rgb(48, 47, 47);
    
    
  }
  .iconos-footer{
    text-align: center;
    

  }
  .iconos-footer img{
    text-align: center;
    width: 2vw;
  }
 .logo_footer{
   width: 80vw;
 } 
 
  
  h4.subtitulo-footer {
    font-size: 11px;
    text-align: center;
    text-decoration: dotted;
    margin: 3px;
    color: white;
  }
  
  footer p {
    text-align: center;
    margin-block-end: 35px;
    margin-top: 5px;
    padding: 5px 65px;
    color: yellow;
  }
  
  footer h4 {
    text-align: center;
    font-size: 10px;
    color: yellow;
  }
  
  footer ul {
    padding: 10px 10px;
    margin-top: 35px;
    color: yellow;
  }
  
    /*FIN FOOTER*/
  
  
  
  @media (min-width: 361px) and (max-width: 768px) {
    /*HEADER*/

    div.burger-menu {
      display: none;
    }
    header{
      height: 10vw;
      
      position: relative;
      display: inline-block;
      text-align: center;
      
    }
    .logo{
      text-align: center;
      margin-left: 9%;
      
    }
    .logo img{
     
      width: 70vw;
      margin-left: 19%;
      text-align: center;
      
  
     
  }
.menu_header{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
  margin-left: 50%;
  
}
 
.elemento_menu {
 display:inline;
 background-color:rgb(229, 255, 0);
 border-radius: 5px;
 text-shadow: 5px 5px 10px white;
 margin-left: 8px;
}
header a {
 color:rgb(0, 0, 0);
 text-decoration:none;
 font-size: 2vw;
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 margin:0 6px;
}
.elemento_menu:hover {
 color:rgb(35, 34, 34);
 background-color:rgb(243, 235, 235);
}
  
  
  header nav a:hover{
      color: #fff;
  }
  .crea_un_evento {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 50%;
    background-color: yellow;
    text-align: center;
    border-radius: 5px;
    
 }
 .crea_un_evento p{
   padding-bottom: 5px;
 }
  .crea_un_evento:hover {
    color:rgb(35, 34, 34);
 background-color:rgb(243, 235, 235);
  }
    /*HEADER*/





    main section article {
      width: 45%;
    }
    div.burger-menu {
      display: none;
    }
    /*BANNER*/
  
  .banner_section:hover .description_banner {
    display: block;
  }
  .banner_section:hover .img_evento_principal {
    filter: blur(5px);
  }
  .banner_section:hover .info_banner {
    display: block;
  }
  .banner_section:hover .titulo_banner {
    display: block;
  }
  .banner{
    text-align: left;
  }
  .img_evento_principal{
    width: 100vw;
    text-align: center;
  }
    
  .description_banner {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 1.5vw;
    margin-top: 1px;
    text-align:start;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: start;
    font-family: 'Roboto', sans-serif;
  }
  .titulo_banner {
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 6vw;
    margin-top: 1px;
    text-align:start;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align:justify ;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  .info_banner{
    
    position: absolute;
    top: 80%;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 2vw;
    margin-top: 1px;
    text-decoration:none;
    color: black;
    text-shadow: 5px 5px 10px black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: yellow;
    padding: 10px;
    font-weight: bold;
  }
  .info_banner:hover {
    background-color: white;
    color: black;
  }
/*FIN BANNER*/
/*FIN BANNER*/

  
    .main-article{
      position: relative;
      display: inline-block;
      text-align: center;
    }
    
    .description {
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      font-size: 2.5vw;
      margin-top: 1px;
      text-align:start;
      color: white;
      text-align: start;
      font-family: 'Roboto', sans-serif;
    }
    .info{
      
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      font-size: 2.5vw;
      margin-top: 1px;
      text-decoration:none;
      color: aliceblue;
      font-family: 'Roboto', sans-serif;
  
    }
    .titulo_producto{
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      font-size: 4vw;
      margin-top: 1px;
      text-decoration:none;
      color: aliceblue;
  
    }
  
   
  
    nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  
     
    main section .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    
   
  
   
  
   /*FOOTER*/
   footer {
    background-color: rgb(48, 47, 47);
    
    
  }
 .logo_footer{
   width: 80vw;
 } 
 
  
  h4.subtitulo-footer {
    font-size: 11px;
    text-align: center;
    text-decoration: dotted;
    margin: 3px;
    color: white;
  }
  
  footer p {
    text-align: center;
    margin-block-end: 35px;
    margin-top: 5px;
    padding: 5px 65px;
    color: white
  }
  
  footer h4 {
    text-align: center;
    font-size: 10px;
    color: white
  }
  
  footer ul {
    padding: 10px 10px;
    margin-top: 35px;
    color: white
  }
  .iconos-footer img{
    text-align: center;
    width: 2vw;
  }
    /*FIN FOOTER*/  
  
    
  
    
  }
  
  @media (min-width: 769px) {
   


    /*HEADER*/

    div.burger-menu {
      display: none;
    }
    header{
      height: 10vw;
      position: relative;
      display: flex;
      justify-content: space-between;
      text-align: center;align-items: center;
      
    }
    .logo{
      text-align: center;
      margin-left: 2%;
      display: flex;
      justify-content: space-around;
      
    }
    .logo img{
     
      width: 14vw;
      text-align: center;
      
      
  
     
  }
.menu_header{
  display: flex;
  
  
  
  
}
 
.elemento_menu {
 display:flex;
 background-color:rgb(229, 255, 0);
 border-radius: 5px;
 margin-left: 8px;
 padding: 10px;
}
header a {
 color:rgb(0, 0, 0);
 text-decoration:none;
 font-size: 1vw;
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 margin:0 6px;
}
.elemento_menu:hover {
 color:rgb(35, 34, 34);
 background-color:rgb(243, 235, 235);
}
  
  
  header nav a:hover{
      color: #fff;
  }
  .crea_un_evento {
    display: flex;
    align-items: center;
    background-color: yellow;
    border-radius: 5px;
    margin-right: 50px;
    padding: 10px;
    
 }
 .crea_un_evento p{
   padding-bottom: 5px;
 }
  .crea_un_evento:hover {
    color:rgb(35, 34, 34);
 background-color:rgb(243, 235, 235);
  }
    /*HEADER*/
  /*BANNER*/
  
  .banner_section:hover .description_banner {
    display: block;
  }
  .banner_section:hover .img_evento_principal {
    filter: blur(5px);
  }
  .banner_section:hover .info_banner {
    display: block;
  }
  .banner_section:hover .titulo_banner {
    display: block;
  }
  .banner{
    text-align: left;
  }
  .img_evento_principal{
    width: 100vw;
    text-align: center;
  }
    
  .description_banner {
    
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 1.5vw;
    margin-top: 1px;
    text-align:start;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: start;
    font-family: 'Roboto', sans-serif;
  }
  .titulo_banner {
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 5vw;
    margin-top: 1px;
    text-align:start;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align:justify ;
    
    font-family: 'Roboto', sans-serif;
    
  }
  .info_banner{
    
    position: absolute;
    top: 80%;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 1vw;
    margin-top: 1px;
    text-decoration:none;
    color: black;
    text-shadow: 5px 5px 10px black;
    font-family: 'Roboto', sans-serif;
    background-color: yellow;
    padding: 10px;
    font-weight: bold;
    
  }
  .info_banner:hover {
    background-color: white;
    color: black;
  }
/*FIN BANNER*/


    main section article {
      width: 22%;
    }
    
    .main-article{
      position: relative;
      display: inline-block;
      text-align: center;
    }
    h3{
      text-align: left;
      font-size: 4vw;
    }
    
    .description {
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      font-size: 1vw;
      text-align:start;
      color: white;
      text-align: start;
      font-family: 'Roboto', sans-serif;
    }
   
    .info{
      
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      font-size: 1vw;
      margin-top: 1px;
      text-decoration:none;
      color: aliceblue;
      font-family: 'Roboto', sans-serif;
  
    }
  
    
    nav {
      display: flex;
      width: 90%;
      height: 40px;
      
    }
  
    
   
  
    .products {
      display: flex;
      justify-content: space-around;
      flex: 22%;
    }
  
    
  
  
  
   /*footer*/
  
  
    footer ul {
      display: flex;
      justify-content: center;
      font-size: 12px;
      color: white;
    }
    .logo_footer{
      width: 25vw;}
  
    footer ul div.ft-sector {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:center;
      color: white;
    }
  
    h4.subtitulo-footer{
      font-size: 12px;
    }
  
    p.footer{
      font-size: 12px;
      color: white;
    }
    div.iconos-footer{
      font-size: 15px;
    }
    .iconos-footer img{
      text-align: center;
      width: 2vw;
    }
  }
  