*{
    box-sizing: border-box;
    
}

body{
    background-color: black;
}

/*FOTO*/
main section div.foto-evento img{
    width: 100vw;
    border: solid rgba(0, 0, 0, 0.519) 3px;
}
/*DESCRIPCION DEL EVENTO*/
section.descripcion-evento h1{
    background-color: yellow;
    font-size: 60px;
    text-align: center;
    padding: 16px;
    margin: 10px 0;
    border: solid rgba(0, 0, 0, 0.519) 3px;
}

section.descripcion-evento h3{
    background-color: rgba(128, 128, 128, 0.136);
    color: yellow;
    font-size: 40px;
    text-align: center;
    padding: 16px;
    margin: 10px 0;
    border: solid rgba(0, 0, 0, 0.519) 3px;
}

/*INFO DE LA COMPRA*/

div.informacion-compra{
    background-color: rgba(128, 128, 128, 0.136);
    border: solid rgba(0, 0, 0, 0.519) 3px;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    color: white;
}
.informacion-compra{
    display: flex;
    border: solid rgba(0, 0, 0, 0.17) 1px;
}
div.opcion-evento{
    flex: 40%;
    border: solid rgba(0, 0, 0, 0.17) 1px;
    padding: 60px ;
    margin-left: 25px;
}
div.precio{
    flex: 40%;
    border: solid rgba(0, 0, 0, 0.17) 1px;
    padding: 60px ;
    
}
.cantidad-entradas{
    border: solid rgba(0, 0, 0, 0.17) 1px;
    flex: 10%;
    padding: 40px ;
}
.entradas{
    padding: 20px;
}

.cantidad{
    padding: 36px;
}

.boton{
    flex: 10%;    
}
button.cantidad{

    font-size: 30px;
    width: 7vw;
    height: 2vw;
    text-align: center;
}

/*PAGOS*/

nav.pagos{
    background-color: rgba(128, 128, 128, 0.136);
    display: flex;
    justify-content: center;
    color: white;   
    margin: 20px 0; 
}

ul{
    list-style: none;
    border: solid rgba(0, 0, 0, 0.17) 3px;
    padding: 20px;
    font-size: 30px;
}
li{
   padding: 10px;
}
.boton-pago{
    text-align: center;
}
button.boton-compra{
    padding: 1%;
    font-size: 20px;

}

